@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700;900&family=Oswald&display=swap');

body {
    margin-top: 0px auto;
    padding: 0px;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
}

section {
    display: flex;
}

.top-banner-images {
    background-image: url(../img/top-banner.png);
    background-repeat: no-repeat;

}

.first_heading {
    color: #A54084;
    font-family: 'Barlow', sans-serif;
    font-size: 40px;
    font-weight: 600;
    padding-top: 30px;

}

.simple_color {
    font-family: 'Barlow', sans-serif;
    color: orange;
    font-weight: 600;
    font-size: 50px;

}

.head3 {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.half_width {
    width: 50%;
}

.half_width img {
    width: 100%;
    padding-left: 30px;
    padding-top: 40px;
}

.hire-btn {
    padding: 10px 30px;
    color: #f5f5f5;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    background: linear-gradient(145deg, #630f47, #f168c1);
    /* box-shadow: 6px 6px 6px #9e3d7f,
        -6px -6px 6px #ac4389; */
}

.hire-btn:hover {
    color: white;
}

/* SECOND SECTION START */
/* .img2 {
    width: 100%;
    padding-left: 10px;
    padding-top: 40px;
} */

.text2 {
    padding-top: 40px;
}

.becomea {
    font-family: 'Barlow', sans-serif;
    color: rgb(87, 48, 85);
    font-weight: 600;
    font-size: 32px;

}

.middle-img {
    background-image: url(../img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}